# Servidor
PORT=3000
NODE_ENV=development

# Base de Dados (MySQL Workbench)
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=food_b2b_platform

# JWT
JWT_ACCESS_SECRET=troca_este_valor_em_producao
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=troca_este_outro_valor_em_producao
JWT_REFRESH_EXPIRES_IN=7d

# CORS
CORS_ORIGIN=http://localhost:4200
